


.logo{

}

.screen{
    margin-left: 20%;
    margin-right:20%;
}

.keys{
    margin-left: 20%;
    margin-right:20%;
}

.row{
    /*background-color:green;*/
}

.numbers{

}
