

.calculator{
    background-color:darkblue;
    border-radius:5px;
    margin:15%;  
}

.logo{
    font-size:40px;
    color:silver;
    text-align:center;
}

.screen{
    margin-left: 20%;
    margin-right:20%;
}

.keys{
    margin-left: 20%;
    margin-right:20%;
}

.row{
    /*background-color:green;*/
}

.numbers{

}
