
.memory{
    /*font-size:75px;*/
}

.btn-block{
    width:20px;
    height:70px;
}

.input{
    font-size:50px;
}

.calculator{
    background-color:black;
    border-style: solid;
    border-color:black;
    border-radius:5px;
    margin:0 21% 0 21%; 
    padding:30px;
    text-align:center; 
}

.logo{
    font-size:40px;
    color:silver;
    text-align:center;
}

.screen{
    margin-left: 20%;
    margin-right:20%;
    min-height:200px;
    text-align:center;
}

.keys{
    margin-left: 20%;
    margin-right:20%;
}

.row{
    /*background-color:green;*/
}

.numbers{

}
